<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Striped Progress bar <a class="get-code" data-toggle="collapse" href="#pgr3"
                        aria-expanded="true"><i class="fa fa-code" title="Get Code" data-toggle="tooltip"></i></a></h4>
                <div class="progress m-t-20">
                    <div    class="progress-bar bg-primary progress-bar-striped active"
                            style="height:10px;" role="progressbar" > 
                     </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Striped Progress bar <a class="get-code" data-toggle="collapse" href="#pgr3"
                        aria-expanded="true"><i class="fa fa-code" title="Get Code" data-toggle="tooltip"></i></a></h4>
                <div class="progress m-t-20">
                    <div    class="progress-bar bg-primary progress-bar-striped active"
                            style="height:10px;" role="progressbar" > 
                     </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-6">
        <div class="card">
            <app-increasing [progress]="15"></app-increasing>
        </div>
    </div>
    <div class="col-6">
        <div class="card">
            <app-increasing></app-increasing>
        </div>
    </div>
</div>